@import "tailwindcss";

:root {
    --text-color: #525261;
    --bg-color: #6153FF;
    --body-bg-color: #ECEDF3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    max-width: 20px;
    width: 100%;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #BDBCDB;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    background-color: white;
}

.custom-checkbox:checked {
    background-color: var(--bg-color);
    border: none;
}

.custom-checkbox:checked::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.liquid-glass-input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: --text-color;
    background: var(--body-bg-color);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        0 4px 18px rgba(0, 0, 0, 0.18),
        0 0 0 1px rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
    outline: none;
}

.liquid-glass-input::placeholder {
    color: var(--text-color);
    font-weight: 400;
}

.liquid-glass-input:focus {
    background: var(--body-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 3px 15px rgba(91, 66, 255, 0.15);
}